<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/"
            class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>11.07.2021</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio fugit ipsam magni quam quibusdam tempore vitae voluptatum. Enim, nihil?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio fugit ipsam magni quam quibusdam tempore vitae voluptatum. Enim, nihil?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio fugit ipsam magni quam quibusdam tempore vitae voluptatum. Enim, nihil?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio fugit ipsam magni quam quibusdam tempore vitae voluptatum. Enim, nihil?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio fugit ipsam magni quam quibusdam tempore vitae voluptatum. Enim, nihil?</p>
  </div>
</div>
